@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Raleway:wght@600&display=swap');

.navbar-nav {
  margin-left: auto;
}

.background {
  background: rgba(0, 0, 0, 0.7) url('IMAGES/bg.jpg');
  background-size: cover;
  background-blend-mode: darken;
}

.box-Main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 50%;
  margin: auto;
  height: 82%;
}

.firstSection {
  height: 100vh;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf {
  width: 30%;
}

.secondHalf img {
  width: 70%;
  border: 2px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big {
  font-size: 41px;
  overflow: auto;
  white-space: nowrap;
}

.text-small {
  font-size: 17px;
}

.btn {
  padding: 6px 44px;
  margin: 12px 2px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 16px;
  background-color: none;
  color: white;
  padding: 12px 38px;
}

.section {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 87%;
  margin: auto;
  margin-top: 55px;
  font-family: 'Raleway', sans-serif;
  background-color: #fafafa;
}

.first-paras {
  padding: 126px;
  margin: auto;
  margin-top: -91px;
  margin-right: -209px;
}

.img-Fluid {
  width: 185%;
  height: auto;
  border: 3px solid grey;
  border-radius: 36px;
}

.thumnail {
  padding: 14px 234px;
}

.section-left {
  flex-direction: row-reverse;
}

.secondPage {
  width: 100%;
}

.two-paras {
  margin: auto;
  flex-direction: row-reverse;
}

.img-Fluid1 {
  width: 446px;
  margin-right: -147px;
  border: 3px solid grey;
  border-radius: 36px;
}

.sectionSubTag {
  font-family: 'Nunito', sans-serif;
  margin-right: 124px;
}

.sectionTag {
  font-size: 30px;
  overflow: auto;
  white-space: nowrap;
  margin-top: 41px;
  margin-right: 150px;
}

.img-Fluid2 {
  width: 100%;
  height: auto;
  border: 3px solid grey;
  border-radius: 36px;
}

.contact {
  height: 110vh;
}

.text-center {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.form {
  max-width: 344px;
  margin: auto;
}

.input-form {
  width: 105%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 7px;
  margin: 19px 0px;
  margin-top: 30px;
}

.btn-dark {
  border: 2px solid black;
}

.text-footer {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: white;
  padding: 33px 0px;
}

.testimonials {
  padding: 134px 326px;
  background-color: darkgrey;
  font-family: 'Raleway', sans-serif;
}

.testimonials-image {
  width: 21%;
  border-radius: 100%;
  padding: 0px 2px;
}

.carousel-control-next-icon {
  margin-right: -320px;
}

.carousel-control-prev-icon {
  margin-left: -387px;
}
